In [3]:
import pandas as pd
import numpy as np

# pd --> np --> pd
Retrouver le df avec index et colonnes une fois que l'on a travaillé sur les valeurs avec numpy  
Utilisé pour sur un tableau de co-occurrence

In [13]:
words = ['A', 'B']

X =  pd.DataFrame(np.array([
        [  4.,   2.],
        [  1.,   3.]]),
        index=words,
        columns=words)
#X.index
X.columns

Index(['A', 'B'], dtype='object')

In [16]:
X_np = X.to_numpy()
X_np = X_np + 1
X_np

array([[5., 3.],
       [2., 4.]])

In [17]:
pd.DataFrame(X_np,
        index=X.index,
        columns=X.columns)

     A    B
A  5.0  3.0
B  2.0  4.0